body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
}

header {
    background-color: #00796b;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00796b;
    border-bottom: 2px solid #00796b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #b2dfdb;
}

.image-upload {
    margin: 20px 0;
}

.image-upload label {
    display: block;
    margin-bottom: 10px;
}

#preview {
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f7f7f7;
}
